<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	{% stylesheets 
        		'@AppBundle/Resources/public/css/bootstrap.min.css'         		
        		'@AppBundle/Resources/public/css/ionicons.min.css'
        		'@AppBundle/Resources/public/css/sweetalert.css'        		
        		output='css/compiled/app.css' %}
        	<link rel="stylesheet" href="{{ asset_url }}">
        	{% endstylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_class %}{% endblock %}">
    	{% block header %}
    		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        		<div class="container-fluid">
          			<div class="navbar-header">
            			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              				<span class="sr-only">Toggle navigation</span>
              				<span class="icon-bar"></span>
              				<span class="icon-bar"></span>
              				<span class="icon-bar"></span>
            			</button>
            			<a class="navbar-brand" href="{{ path('homepage') }}">MusicStore</a>
          			</div>
          			<div id="navbar" class="navbar-collapse collapse">
	            		<ul class="nav navbar-nav">
                        {% block header_navigation_links %}
	              			<li><a href="#">About</a></li>
	              			<li><a href="#">Contact</a></li>
	              			{% if is_granted('ROLE_ADMIN') %}
	              			    <li><a href="{{ path('admin_user_index') }}">Admin</a></li>
	              			{% endif %}
                        {% endblock %}                            
	              			<li class="dropdown">
	                		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	                		    <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li class="dropdown-header">Nav header</li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
	                			</ul>
	              			</li>
	            		</ul>
	            		<ul class="nav navbar-nav navbar-right">
                            <li>                       
                                <a class="btn" href="{{ path('app.checkout') }}">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
                                    <span id="items" class="items">
                                        {{ render(controller('app.shopping_controller:getCountAction')) }}
                                    </span>
                                </a>  
                            </li>
	            			{% if app.user %}
	            				<li><a href="{{ path('security_logout') }}">Logout</a></li>
	            			{% else %}
	            				<li><a href="{{ path('security_login_form') }}">Login</a></li>
	              				<li><a href="{{ path('user_registration') }}">Register</a></li>
	            			{% endif %}	              			
	            		</ul>
          			</div><!--/.nav-collapse -->
        		</div><!--/.container-fluid -->
      		</nav>    		
    	{% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}
        	{% javascripts 
        		'@AppBundle/Resources/public/js/jquery-2.2.3.min.js' 
        		'@AppBundle/Resources/public/js/bootstrap.min.js' 
        		'@AppBundle/Resources/public/js/sweetalert.min.js' %}
        		<script src="{{ asset_url }}"></script>
        	{% endjavascripts %}
        	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
        {% block custom_js %}{% endblock %}
    </body>
</html>
