{% extends 'admin/layout.html.twig' %}

{% form_theme edit_form with ['bootstrap_3_layout.html.twig'] %}

{% block title 'Dashboard | Edit User' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of   navigation changes. */
        }
    </style>

    
{% endblock %}  

{% block body_class 'admin-edit-user' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">

            <h1>Edit User {{ user.username }} #{{ user.id }}</h1>

            {{ form_start(edit_form, { attr: { novalidate: 'novalidate'} }) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" class="btn btn-primary">
                <a href="{{ path('admin_user_index') }}" class="btn btn-link">Back to List</a>
            {{ form_end(edit_form) }}            
        </div>
    </div>
</div>

{% endblock %}

