{% extends 'base.html.twig' %}

{% block title 'Album Details' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'@AppBundle/Resources/public/css/shop-item.css' 		
	%}
	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}	

{% block body_class 'album-details' %}

{% block body %}

<div class="container">

<div class="row">

   <div class="col-md-3">
        <p class="lead">CDs Music</p>
        <div class="list-group">            
            {% for genre in genres %}
            <a href="{{ path('browse_genre', {'genre': genre.name}) }}" class="list-group-item {% if (album.genre.id == genre.id) %} active {% endif %}">{{ genre.name }}</a>
            {% endfor %}            
        </div>
    </div>

    <div class="col-md-5">

        <div class="thumbnail">
            <img class="img-responsive" src="{{ asset(album.getWebPath()) }}" alt="image of album.name">
            <div class="caption-full">
                <h4 class="pull-right">${{ album.price }}</h4>
                <h4><a href="{{ path('album_details', {'album_id': album.id}) }}">{{ album.title }}</a>
                </h4>                
                <p>{{ album.description }}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    4.0 stars
                </p>
            </div>
            <div class="button-wrapper">
                {% set csrfTokenValue = csrf_token('ajax') %}
                <a id="addToCart" class="btn btn-primary" href="{{ path('add_to_cart', {'album_id': album.id, '_token': csrfTokenValue }) }}">
                    Add To Cart
                </a>
            </div>
        </div>

    </div>
    
</div>

</div>

{% endblock %}

{% block custom_js %}
<script>
$('#addToCart').on('click', function(e) {
    var $this = $(this);
    if ($this.hasClass('disabled')) {
        return;
    }
    $this.addClass('disabled');
    $.ajax({
        url: $this.attr('href'),        
        method: 'POST'
    })
    .done(function(data) {
        $('#items').html(data.total);
    })
    .fail(function() {
        alert('error');
    }).
    always(function() {
        $this.removeClass('disabled');
    });
    e.preventDefault();
});
</script>
{% endblock %}