{% extends 'base.html.twig' %}

{% block title 'Albums' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'@AppBundle/Resources/public/css/thumbnail-gallery.css' 		
	%}
	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}	

{% block body_class 'albums' %}

{% block body %}

<div class="container">

<div class="row">

    <div class="col-sm-12">
        <h1 class="page-header">{{ genre|capitalize }} Albums</h1>
    </div>

</div>

<div class="row">

    {% for album in albums %}
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="{{ path('album_details', {'album_id': album.id}) }}">
            <img class="img-responsive" src="{{ asset(album.getWebPath()) }}" alt="">
        </a>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
       	<p>Currently there are no music albums for the gender <strong>{{ genre|capitalize }}</strong></p>	
    </div>        
    {% endfor %}
    
</div>

</div>

{% endblock %}